/* Adjust container size for exact fit */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh auto 0 auto;
    height: 50vh; /* 70% of viewport height */
    width: 80vw; /* 80% of viewport width */
     /* Centers the container */
    overflow: hidden; /* Avoids content overflow */
  }
  
  .section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative; /* Enables icon positioning */
    transition: flex 0.3s ease;
    cursor: pointer;
    border-radius: 15px; /* Adds a rounded corner effect */
    overflow: hidden;
  }
  
  .section h2 {
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 2; /* Ensures text stays on top */
  }
  
  .section:hover {
    flex: 2;
  }
  
  /* Add icon to the top-right corner */
  .section::after {
    content: "▶"; /* Unicode arrow icon */
    font-size: 2rem;
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
  
  .strength {
    background-image: url('../assets/strength_image.png');
  }
  
  .mobility {
    background-image: url('../assets/Mobility_image.jpg');
  }
  
  .drills {
    background-image: url('../assets/drills_image.jpeg');
  }
  